POSTGRES_USER=sales_airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=sales_dw

AIRFLOW_USER=admin
AIRFLOW_PASSWORD=change_me

MSSQL_HOST=host.docker.internal
MSSQL_PORT=1433
MSSQL_DB=Ventes
MSSQL_USER=airflow_sales
MSSQL_PASSWORD=change_me
